@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --color-primary: hsl(0, 0%, 98%);
  --color-secondary: hsl(0, 0%, 41%);
  --color-tertiary: hsl(0, 0%, 8%);
  --font-base: 'Epilogue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
